<html>
<link href="../css/global.css" rel="stylesheet" type="text/css">
{EXAM_ID} - {NAME}
<table width="800" cellpadding="5" cellspacing="1" bgcolor="cccccc">
  <tr>
    <td width="100" align="center" bgcolor="efefef" class="title01b"> 시험일시</td>
    <td width="600" align="center" bgcolor="efefef" class="title01b"> 시험제목</td>
    <td width="80" align="center" bgcolor="efefef" class="title01b"> 점수</td>
    <td width="80" align="center" bgcolor="efefef" class="title01b"> 시험완료일</td>
    <td width="80" align="center" bgcolor="efefef" class="title01b"> 진행시간</td>
    <td width="80" align="center" bgcolor="efefef" class="title01b"> 합격유무</td>
  </tr>

  <tr>
    <td width="100" align="center" bgcolor="ffffff">{PLAN_ILSI}</td>
    <td width="600" align="center" bgcolor="ffffff"> {TITLE}</td>
    <td width="80" align="center" bgcolor="ffffff"> {JUMSU}</td>
    <td width="80" align="center" bgcolor="ffffff"> {EXAM_END}</td>
    <td width="80" align="center" bgcolor="ffffff"> {EXAM_TIME}</td>
    <td width="80" align="center" bgcolor="ffffff"> {EXAM_PASS}</td>
  </tr>
</table>
</br>
</br>
<table width="800" cellpadding="5" cellspacing="1" bgcolor="cccccc">
  <tr>
    <td width="100" align="center" bgcolor="efefef" class="title01b"> 1</td>
    <td width="100" align="center" bgcolor="efefef" class="title01b"> 2</td>
    <td width="100" align="center" bgcolor="efefef" class="title01b"> 3</td>
    <td width="100" align="center" bgcolor="efefef" class="title01b"> 4</td>
    <td width="100" align="center" bgcolor="efefef" class="title01b"> 5</td>
  </tr>

  <tr>
    <td width="100" align="center" bgcolor="ffffff"> {QST01}</td>
    <td width="100" align="center" bgcolor="ffffff"> {QST02}</td>
    <td width="100" align="center" bgcolor="ffffff"> {QST03}</td>
    <td width="100" align="center" bgcolor="ffffff"> {QST04}</td>
    <td width="100" align="center" bgcolor="ffffff"> {QST05}</td>
  </tr>

    <tr>
    <td width="100" align="center" bgcolor="efefef" class="title01b"> 6</td>
    <td width="100" align="center" bgcolor="efefef" class="title01b"> 7</td>
    <td width="100" align="center" bgcolor="efefef" class="title01b"> 8</td>
    <td width="100" align="center" bgcolor="efefef" class="title01b"> 9</td>
    <td width="100" align="center" bgcolor="efefef" class="title01b"> 10</td>
  </tr>

  <tr>
    <td width="100" align="center" bgcolor="ffffff"> {QST06}</td>
    <td width="100" align="center" bgcolor="ffffff"> {QST07}</td>
    <td width="100" align="center" bgcolor="ffffff"> {QST08}</td>
    <td width="100" align="center" bgcolor="ffffff"> {QST09}</td>
    <td width="100" align="center" bgcolor="ffffff"> {QST10}</td>
  </tr>

    <tr>
    <td width="100" align="center" bgcolor="efefef" class="title01b"> 11</td>
    <td width="100" align="center" bgcolor="efefef" class="title01b"> 12</td>
    <td width="100" align="center" bgcolor="efefef" class="title01b"> 13</td>
    <td width="100" align="center" bgcolor="efefef" class="title01b"> 14</td>
    <td width="100" align="center" bgcolor="efefef" class="title01b"> 15</td>
  </tr>

  <tr>
    <td width="100" align="center" bgcolor="ffffff"> {QST11}</td>
    <td width="100" align="center" bgcolor="ffffff"> {QST12}</td>
    <td width="100" align="center" bgcolor="ffffff"> {QST13}</td>
    <td width="100" align="center" bgcolor="ffffff"> {QST14}</td>
    <td width="100" align="center" bgcolor="ffffff"> {QST15}</td>
  </tr>

    <tr>
    <td width="100" align="center" bgcolor="efefef" class="title01b"> 16</td>
    <td width="100" align="center" bgcolor="efefef" class="title01b"> 17</td>
    <td width="100" align="center" bgcolor="efefef" class="title01b"> 18</td>
    <td width="100" align="center" bgcolor="efefef" class="title01b"> 19</td>
    <td width="100" align="center" bgcolor="efefef" class="title01b"> 20</td>
  </tr>

  <tr>
    <td width="100" align="center" bgcolor="ffffff"> {QST16}</td>
    <td width="100" align="center" bgcolor="ffffff"> {QST17}</td>
    <td width="100" align="center" bgcolor="ffffff"> {QST18}</td>
    <td width="100" align="center" bgcolor="ffffff"> {QST19}</td>
    <td width="100" align="center" bgcolor="ffffff"> {QST20}</td>
  </tr>
</table>

</br>
</br>
<table width="800" cellpadding="5" cellspacing="1" bgcolor="cccccc">
  <tr>
    <td width="500" align="center" bgcolor="efefef" class="title01b"> 틀린문제 풀이</td>
  </tr>

  <tr>
    <td width="500" align="center" bgcolor="ffffff" class="title01b"> {EXAM_WRONG}</td>
  </tr>
</table>
</html> 
