<html>
<link href="../css/global.css" rel="stylesheet" type="text/css">
<table width="720" cellpadding="5" cellspacing="1" bgcolor="cccccc">
  <tr>
    <td width="50" align="center" bgcolor="efefef" class="title01b"> NO</td>
    <td width="277" align="center" bgcolor="efefef" class="title01b"> 이름</td>
    <td width="89" align="center" bgcolor="efefef" class="title01b"> 응시시험횟수</td>
    <td width="144" align="center" bgcolor="efefef" class="title01b"> 합격횟수</td>
    <td width="144" align="center" bgcolor="efefef" class="title01b"> 평균</td>
  </tr>
  <!-- BEGIN row -->
    <tr>
    <td width="50" align="center" bgcolor="ffffff"> {SEQ}</td>
    <td width="277" align="center" bgcolor="ffffff">{USER_NAME}</td>
    <td width="89" align="center" bgcolor="ffffff"> {EXAM_NO}</td>
    <td width="144" align="center" bgcolor="ffffff">{PASS_NO}</td>
    <td width="144" align="center" bgcolor="ffffff">{AVE_PASS}</td>
  </tr>
  <!-- END row -->

</table>


</html> 
