<html>
<link href="../css/global.css" rel="stylesheet" type="text/css">
<table width="800" cellpadding="5" cellspacing="1" bgcolor="cccccc">
  <tr>
    <td width="100" align="center" bgcolor="efefef" class="title01b"> 이름</td>
    <td width="100" align="center" bgcolor="efefef" class="title01b"> 시험일시</td>
    <td width="600" align="center" bgcolor="efefef" class="title01b"> 시험제목</td>
    <td width="80" align="center" bgcolor="efefef" class="title01b"> 점수</td>
    <td width="80" align="center" bgcolor="efefef" class="title01b"> 시험완료일</td>
    <td width="80" align="center" bgcolor="efefef" class="title01b"> 진행시간</td>
    <td width="80" align="center" bgcolor="efefef" class="title01b"> 합격유무</td>
  </tr>
  <!-- BEGIN row -->
  <tr>
    <td width="100" align="center" bgcolor="ffffff"> {NAME}</td>
    <td width="100" align="center" bgcolor="ffffff">{PLAN_ILSI}</td>
    <td width="600" align="center" bgcolor="ffffff"> {TITLE}</td>
    <td width="50" align="center" bgcolor="ffffff"> {JUMSU}</td>
    <td width="50" align="center" bgcolor="ffffff"> {EXAM_END}</td>
    <td width="50" align="center" bgcolor="ffffff"> {EXAM_TIME}</td>
    <td width="50" align="center" bgcolor="ffffff"> {EXAM_PASS}</td>
  </tr>
  <!-- END row -->
</table>
</html> 
