<html>
<link href="../css/global.css" rel="stylesheet" type="text/css">
<table width="720" cellpadding="5" cellspacing="1" bgcolor="cccccc">
  <tr>
    <td width="50" align="center" bgcolor="efefef" class="title01b"> 회</td>
    <td width="277" align="center" bgcolor="efefef" class="title01b"> 시험제목</td>
    <td width="89" align="center" bgcolor="efefef" class="title01b"> 수강계획일</td>
    <td width="144" align="center" bgcolor="efefef" class="title01b"> 관리</td>
  </tr>
  <!-- BEGIN row -->
  <tr>
    <td width="50" align="center" bgcolor="ffffff"> {SEQ}</td>
    <td width="277" align="center" bgcolor="ffffff">{EXAM_TITLE}</td>
    <td width="89" align="center" bgcolor="ffffff"> {PLAN_ILSI}</td>
    <td width="144" align="center" bgcolor="ffffff"> {EXAM_MAN}</td>
  </tr>
  <!-- END row -->
</table>
</html> 
