<html>
<link href="../css/global.css" rel="stylesheet" type="text/css">
<table width="750" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><br>
      <p style="margin-top:1; margin-bottom:1;"><b><span style="background-color:black;"><font color="#CCCCCC">사이버강의완료<br>
        </font></span></b>
      <table width="720" border="0" cellpadding="5" cellspacing="1" bgcolor="cccccc">
        <tr>
          <td width="277" align="center" bgcolor="#efefef" class="title01b"> 강의명</td>
          <td width="89" align="center" bgcolor="#efefef" class="title01b"> 수강계획일</td>
          <td width="144" align="center" bgcolor="#efefef" class="title01b"> 수강시작일시</td>
          <td width="138" align="center" bgcolor="#efefef" class="title01b"> 수강완료일시</td>
        </tr>
        <!-- BEGIN row -->
        <tr>
          <td width="277" align="center" bgcolor="ffffff">{TITLE}</td>
          <td width="89" align="center" bgcolor="ffffff"> {PLAN_ILSI}</td>
          <td width="144" align="center" bgcolor="ffffff"> {VIEW_START}</td>
          <td width="138" align="center" bgcolor="ffffff"> {VIEW_END}</td>
        </tr>
        <!-- END row -->
      </table>
      <p>{MSG}        
    </td></tr>
</table>
<p style="margin-top:1; margin-bottom:1;"><br>
    <br>
</html> 
