<html>
<script type="text/javascript" src="/js/flash.js"></script>	
<link href="../css/global.css" rel="stylesheet" type="text/css">
 <table width="750" border="0" cellspacing="0" cellpadding="0">
   <tr>
     <td><table width="671" align="center" cellpadding="5" cellspacing="1" bgcolor="cccccc">
       <tr>
         <td width="287" align="center" bgcolor="#efefef" class="title01b"> 강의명</td>
         <td width="102" align="center" bgcolor="#efefef" class="title01b"> 수강계획일</td>
       </tr>
       <!-- BEGIN row -->
       <tr>
         <td width="287" align="center" bgcolor="ffffff"> {TITLE}</td>
         <td width="102" align="center" bgcolor="ffffff"> {PLAN_ILSI}</td>
       </tr>
       <!-- END row -->
     </table>
       <br>
       <table width="673" border="0" align="center" cellpadding="5" cellspacing="1" bgcolor="cccccc">
         <tr>
           <td width="663" height="329" align="center" valign="top" bgcolor="ffffff"><br>
             반드시 강의를 다 보시고&nbsp;&lt;<a href="{COMPLETE_URL}"><font color="blue">여기</font></a>&gt;를 클릭하세요. <br>
             <br>
             <br>
             <table width="622" border="0" align="center" cellpadding="5" cellspacing="1" bgcolor="cccccc">
               <tr>
                 <td width="612" align="center" bgcolor="ffffff">                   {EMBED_TAG}</td>
               </tr>
             </table></td>
         </tr>
       </table></td>
   </tr>
 </table>
 <br>
 </html> 
