<link href="../css/global.css" rel="stylesheet" type="text/css" />
<table width="750" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td valign="top"><table width="96%" border="0" align="center" cellpadding="0" cellspacing="0">
			<tr>
				<td><img src="images/img_24.gif" width="281" height="19" hspace="10" vspace="10" /></td>
			</tr>
			<tr>
				<td><table width="96%" border="0" align="center" cellpadding="0" cellspacing="1" bgcolor="#CCCCCC" style="border-collapse:collapse">
					<tr>
						<td width="20" align="center" bgcolor="#efefef" class="tah10">순번</td>
						<td width="33" align="center" bgcolor="#efefef" class="tah10">이름</td>
						<td width="60" align="center" bgcolor="#efefef" class="tah10">학번</td>
<!-- BEGIN col_header -->						
						<td align="center" bgcolor="#efefef" class="tah10">{COL_HEADER}</td>
<!-- END col_header -->
					</tr>
<!-- BEGIN row -->
					<tr>
						<td align="center" bgcolor="efefef" class="tah10">{SEQ}</td>
						<td align="center" bgcolor="efefef" class="title01">{NAME}</td>
						<td align="center" bgcolor="efefef" class="tah10">{HAKBUN}</td>
<!-- BEGIN col -->												
						<td align="center" bgcolor="#FFFFFF" class="tah10">{COL}</td>
<!-- END col -->																		
					</tr>
<!-- END row --> 					
				</table></td>
			</tr>
		</table>
				<br /></td>
	</tr>
	<tr>
		<td align="center">&nbsp;</td>
	</tr>
</table>
